* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;     /* esta propiedad sirve para que las medidas se midan hasta el borde (incluyan el borde) */
}

body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    height: 240px;
    align-items: end;
    background-color: rgb(255, 152, 152)
}

.a-dif {
    background-color: brown;
    color: burlywood;
    border-left: 20px solid rgb(94, 31, 31);
}

.a-dif:hover {
    border-left: 30px solid black;
}

a {
    background-color: burlywood;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-left: 20px solid brown;
    margin: 10px 20px;
    width: 140px;
    height: 40px;
}

a:hover {
    font-weight: 800;
    border-left: 30px solid rgb(94, 31, 31);
}

img, .p-section {
    width: 360px;
}

.p-section {
    background-color: brown;
    color: beige;
    padding: 20px;
    margin: 20px;
    text-align: justify;
}

img {
    object-fit: cover;
    margin: 20px;
}

.section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: aquamarine;
    padding: 20px;
}

.p-footer {
    background-color: cadetblue;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 150px;
}

.section-footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}