@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: url(../files/asientos.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 70px;
    font-weight: 1000;
    font-family: 'Licorice', cursive;
    padding: 10px !important;
    margin: 10px !important;
    text-shadow: 0 0 10px rgba(210, 210, 210, 0.5), 0 0 10px rgba(210, 210, 210, 0.5), 0px 0px 10px rgba(210, 210, 210, 0.5);
}

a {
    color: rgb(40, 40, 40);
    background-color: rgb(190, 50, 80);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px !important;
    margin-bottom: 20px !important;
}
a:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 60, 90);
}

@media only screen and (max-width: 576px){

    h1 {
        font-size: 45px !important;
        padding: 10px !important;
        margin: 5px !important;
    }

    a {
        padding: 5px 15px !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (min-width: 1200px){

    h1 {
        font-size: 100px !important;
    }


}

@media only screen and (min-width: 1400px){

    h1 {
        font-size: 120px !important;
    }

}