@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.backGroundImage {
    background-image: url(../files/asientos.jpg);
    background-size: 100%;
}

h1 {
    height: 160px;
    font-size: 70px;
    font-weight: 1000;
    font-family: 'Licorice', cursive;
    background-color: rgba(210, 210, 210, 0.2);
}

.shadows {
    padding: 10px !important;
    text-shadow: 0 0 10px rgba(210, 210, 210, 0.5), 0 0 10px rgba(210, 210, 210, 0.5), 0px 0px 10px rgba(210, 210, 210, 0.5);
}

.navbarColor , footer {
    background-color: rgba(40, 40, 40);
}

.navbarButton {
    color: rgb(190 ,50 ,80);
    font-weight: 600;
    height: 30px;
    width: 100%;
    margin: 5px !important;
}
.navbarButton:hover {
    color: rgb(190 ,50 ,80);
    background-color: rgb(50, 50, 50);
}

.navbarTextLog:hover {
    color: rgba(210, 210, 210);
    background-color: rgb(130 ,40 ,60);
}

.navbarText , footer h4 , footer p {
    color: rgb(190 ,50 ,80);
    font-weight: 600;
    height: 40px;
    padding: 5px 0 !important;
    margin: 5px !important;
}
.navbarText:hover {
    color: rgb(190 ,50 ,80);
    background-color: rgb(50, 50, 50);
}

.navbarTextLog {
    color: rgba(210, 210, 210);
    background-color: rgb(140, 50, 70);
    font-weight: 600;
    height: 40px;
    padding: 5px 0 !important;
    margin: 5px !important;
}
.navbarTextLog:hover {
    color: rgba(210, 210, 210);
    background-color: rgb(130 ,40 ,60);
}

a {
    text-decoration: none !important;
}

h2 , .generation {
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(210, 210, 210, 0.5);
    color: rgb(140, 50, 70);
}

p , h3 {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.filters {
    font-size: 14px !important;
    width: 20vw;
    height: 30px;
    margin: 10px !important;
    padding: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

option {
    font-size: 14px !important;
}

.hoverEvent {
    background-color: rgba(210, 210, 210, 0.3);
    color: rgba(40, 40, 40);
}
.hoverEvent:hover {
    background-color: rgb(140, 50, 70, 0.8);
    color: rgba(210, 210, 210);
    font-size: 18px;
    font-weight: 200;
}

.hoverEventButton {
    background-color: rgba(210, 210, 210);
    color: rgba(40, 40, 40);
}
.hoverEventButton:hover {
    background-color: rgb(140, 50, 70);
    color: rgba(210, 210, 210);
    font-size: 18px;
    font-weight: 200;
}

.imgWidth {
    width: 320px;
    object-fit: cover;
}

.imgWidth img {
    height: 180px;
}

label , .cardDetail  , .contact {
    background-color: rgba(40, 40, 40);
    color: rgb(190 ,50 ,80);
    font-weight: 600;
}

.contactForm {
    background-color: white;
    color: rgba(40, 40, 40);
    font-weight: 600;
    text-decoration: none;
}

textarea {
    resize: none;
}

#modalDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
    flex-direction: column;
    pointer-events: none;
}

.modal:target {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    pointer-events: auto;
}

.closeModal {
    font-weight: bold;
}

.closeModal:hover:not(img) {
    background-color: rgb(140, 50, 70);
    color: rgb(210, 210, 210)
}

.cardPkm {
    background-color: white;
    width: 200px;
    height: 150px;
    margin: 10px !important;
}

@media only screen and (max-width: 576px){

    h1 {
        height: 100px;
        font-size: 45px !important;
    }

    h2 , h3, h4 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

}

@media only screen and (max-width: 768px){

    .navbarText , .navbarTextLog{
        width: 100% !important;
        font-size: 16px;
    }

    .tdHide {
        display: none !important;
    }

}

@media only screen and (max-width: 992px){

    .filters {
        width: 320px;
    }

    h3 {
        font-size: 20px;
    }

    th {
        font-size: 13px;
    }

    td {
        font-size: 11px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px){

    h3 {
        font-size: 22px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
    }

    .articleDetail {
        width: 50% !important;
    }

}

@media only screen and (min-width: 1200px){

    h1 {
        font-size: 90px !important;
    }

    .navbarText , .navbarTextLog{
        font-size: 24px !important;
    }

    .imgWidth {
        width: 380px;
    }

    .imgWidth img {
        height: 200px;
    }

    h3 {
        font-size: 24px;
    }

    .articleDetail {
        width: 50% !important;
    }

}

@media only screen and (min-width: 1400px){

    .imgWidth {
        width: 450px;
    }

    .imgWidth img {
        height: 250px;
    }

    .articleDetail {
        width: 700px !important;
    }

}